body {
    margin: 0px;
    font-size: 20px;
    font-family: "Smythe", Verdana, Geneva, Tahoma, sans-serif, system-ui;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.main-banner {
    width: 100%;
    margin: 0px;
}

.menu-item-title {
    font-size: 28px;
    margin: 2px 0px;
    
}

.menu-item-ingredients {
    font-size: 16px;
    color: #8B8B8B;
    margin: 2px 0px;
}

.menu-item-price {
    font-size: 20px;
    margin: 12px 0px;
}

.main-container {
    max-width: 375px;
    margin: 0px auto;
    /* border: 10px solid red; */
}

.menu-item-card {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    border-bottom: 1px solid #D2D2D2;  
    align-items: center; 
    justify-content: space-between;
    margin: 0px 16px 0px 16px;
    /* border: 2px solid green; */
    max-width: 375px;
}

.menu-card-emoji {
    font-size: 64px;
}

.add-to-order-btn {
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
        font-weight: extralight;    
    padding-bottom: 5px;
}

.button-separator {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.title-text-box {
    position: fixed;
    top: 30px;
    left: 30px;
    color: #ffffff;
    font-weight: 300px;
    margin: 0px;
}

h1 {
    
    font-size: 39px;
}

h2 {
    font-size: 21px;
}

.order-item {
    display: flex;
    font-size: 28px; 
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */  
    height: 24px;
}

.order-section {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin: 0px 26px;
    padding: 0px;
    max-width: 375px;
    justify-content: space-between;
}

.remove-item-button {
    border: none;
    background-color: #ffffff;
    color: #BBBBBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.order-item-price {
    margin-left: auto;
}

.complete-order-button {
    background-color: #16DB99;
    border-radius: 3px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    padding: 0px 0px 35px 0px;
} 

.order-total-price {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid darkslategray;
    margin-top: 15px;
    font-size: 28px;
}

.payment-modal {
    display: flex; /*flex when displayed*/
    flex-direction: column;
    position: fixed;
    margin: 100px 15px;
    bottom: 0px;
    z-index: 900;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border: 1px none #67595e;
    border-radius: 20px 20px 0px 0px;
    width: 324px;
    height: 342px;
    background-color: #FFFFFF;
    overflow-y: auto;
    box-shadow: 0 0 150px 1px;
    
    /* position: absolute;
   
    z-index: 1000;
    top: 50%;
    left: 50%;
    right: 50%;
    background-color: #ffffff;
    opacity: 100%; */
    

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 800;
  }