/*
    TABLE OF CONTENTS
    * GLOBAL
      <body, html, 
      <h2
      .main-container (for the whole application)
      .overlay (used to emphasize/close the payment modal)
    * HEADER
      .header
        .header title
    * MENU SECTION
      .menu-items-container
        .menu-items-card
        .button-separator (used to right-justify add-to-order-button)
           .menu-card-emoji
           .menu-item-title 
           .menu-item-ingredients
          .menu-item-price
        .add-to-order-btn 
    * ORDER SECTION
      .order-section
        .order-section-title
        .order-item-container
          .remove-item-button
          .order-item-price
        .order-total-price
        .complete-or-pay-button (also used in payment modal below)
    * PAYMENT MODAL
      .payment-modal
      <input
*/

    /* GLOBAL STYLING */
body, html {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    user-select: none;
    overflow: visible;
    font-size: 20px;
    font-family: "Smythe", Verdana, Geneva, Tahoma, sans-serif, system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 46px;
    font-size: 39px;
    font-weight: 400; 
}

h2 {
    margin-top: 12px;
    font-size: 21px;
    font-weight: 400; 
}

  .main-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 45px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.30);
    display: none;
    position: fixed;
    z-index: 900;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

    /* HEADER STYLING */
  .header {
    background: url('./restaurant-header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    padding-left: 46px;
    height: 167px;
  }
  
    .header-title {
        margin: 0;
        font-size: 39px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

/* MENU SECTION */

.menu-items-container {
    margin: 0px;
    padding: 0px;
}

    .menu-item-card {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        margin-top: 45px;
        height: 140px;
        border-bottom: 1px solid #D2D2D2; 
    }

        .button-separator {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
            .menu-card-emoji {
                font-size: 64px;
                margin: 0px;
            }

            .menu-item-title {
                font-size: 28px;
                margin: 2px 0px;
            }

            .menu-item-ingredients {
                font-size: 16px;
                color: #8B8B8B;
                margin: 2px 0px;
            }

            .menu-item-price {
                font-size: 20px;
                margin: 12px 0px;
            }

        .add-to-order-btn-div {
            aspect-ratio: 1;
            display: grid;
            place-items: center;
              
            padding: 1px;
            height: 50px;
            line-height: 40px;  
            width: 50px;
            border: 1.5px solid #DEDEDE; 
            border-radius: 100%;
            color: #3C3C3C;
            text-align: center;
            font-size: 32px;
            font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
            
        }

            .add-to-order-btn {
                aspect-ratio: 1;
                display: grid;
                place-items: center;
                background-color: #FFFFFF;
                border: none;
                border-radius: 100px;
                height: 50px;
                line-height: 0px;  
                width: 50px;
                cursor: pointer;
                padding-bottom: 5px;
            }

/* ORDER SECTION */

.order-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 30px;
}

    .order-section-title {
        font-size: 28px;
    }

    .order-item-container {
        display: flex;
        font-size: 28px; 
        gap: 5px;
        align-items: center;
        justify-content: space-between; 
        height: 24px;
        margin: 8px 0px;
    }

        .remove-item-button {
            border: none;
            background-color: #ffffff;
            color: #BBBBBB;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            cursor: pointer;
        }

        .order-item-price {
            margin-left: auto;
        }

    .order-total-price-container {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid darkslategray;
        margin-top: 24px;
    }
        
        .order-total-price {
            margin: 10px 0px 45px 0px;
            font-size: 28px;
        }
    
    .complete-button {
        background-color: #16DB99;
        border-radius: 3px;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        height: 46px;
        line-height: 46px;
        display: block;
        padding: 0px 0px 35px 0px;
        width: 100%;
        cursor: pointer;
    } 


/* PAYMENT MODAL*/

.payment-modal {
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    /* display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    
    width: 300px;
    height: 345px;
    margin: 40px;
    padding: 25px; */
    z-index: 1000;

    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    overflow-y: auto; 
   
    
    border: 1px none #67595e;
    box-shadow: 0 0 150px 1px;
}

    .payment-form {
        margin: 0px;
        padding: 0px;
    }

    input{
        border: 1px solid #757575;
        padding: 8px;
        margin: 12px 40px 12px 0px;
        border-radius: 3.89px;
        height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
    }

    .pay-button {
        background-color: #16DB99;
        border-radius: 3px;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        height: 46px;
        line-height: 46px;
        display: block;
        padding: 0px 0px 35px 0px;
        width: 100%;
        cursor: pointer;
    } 